@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Quicksand', sans-serif !important;
}



#sidebar{
    background-color: #2a4045;
    padding: 0.3cm 0.5cm 0cm 0.5cm;
    color:white;
    height: 100%;
    border-bottom: 0.5px solid white;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    box-shadow: 5px 10px 10px #888888;
}
#name{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 0.3cm;
}
#account{
    padding-top: 0.1cm;
}
.nav-item{
    margin-bottom: 0.2cm;
}

a:link{
    color: white;
}
a:visited{
    color: white !important;
}

.stylediv{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 3px 5px #888888;
    padding: 0.6cm 1cm 0.8cm 1cm;
    display: inline-block;
}
#messages {
background-color:yellow;
font-size:3;
font-weight:bold;
line-height:140%;
}

#status{
    font-size:4;
    font-weight:bold;
    line-height:140%;
}

#btnSaveTime{
    display: none;
}
.inputTimeTrafic{
    display: none;
    width: 30px;
    padding: 3px;
}
td input {
    width: 40px;
    padding: 3px;

}
.banner{
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background:linear-gradient(          rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)),url(./images/road.jpg);

}


.container1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),url(/house-self/custom/images/background1.jpg);background-repeat:no-repeat;background-size: cover;
    box-sizing: border-box;
    padding-left: 8%;
  }
  #card01{
    background-image:linear-gradient( rgba(228, 228, 228, 0.637), rgba(0, 0, 0, 0.5) ), url(./images/b9ttsjos-900.jpg);
    
  }
  #card02{
    background-image: linear-gradient( rgba(228, 228, 228, 0.637), rgba(0, 0, 0, 0.5) ),url(./images/yellow.jpeg);
  }
  #card03{
    background-image: linear-gradient( rgba(228, 228, 228, 0.637), rgba(0, 0, 0, 0.5) ),url(./images/hand-holding-gear-vector-icon-260nw-596847689.jpg);
  }
  #card04{
    background-image: linear-gradient( rgba(228, 228, 228, 0.637), rgba(0, 0, 0, 0.5) ),url(./images/meeting-schedule-icon-vector-35137331.jpg);
  }
  .card1:hover{
    transform: translateY(-10px);
  }
  .card1{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding:15px 35px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: black;

  }

button{
    width: 180px;
    color:#000;
    font-size:12px;
    padding:12px 0;
    background:#fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top:30px;
}
.footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 16.7%;
    color: white;
    text-align: left;
    padding-left: 0.8cm;
 }

#inputSCH input{
    width: 50px;
}